
/* Topo - logo */

.logo{
	background: black;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 15px; 
	padding: 5px; 
	text-align: center;
	line-height: 50px;
}
/* Topo - Menu */

.menu-principal{
	font-family: 'Open Sans', sans-serif;
	background: black; 
	color: white; 
	padding: 5px;
}
.menu-principal ul li, .menu-rodape ul li {
	display: inline;
	line-height: 50px;
	padding-right: 20px;
}
a:link{ 
	text-decoration: none;
	color: white;
}
a:hover{ 
	text-decoration: underline;
	color: #f55;
}
.diaehora{
	background: #8B1A1A;
	height: 15px;
	line-height: 15px;
	color: white;
	font-weight: bold;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

/* Mid */

/* footer */
footer{
	background: black;
	font-family: 'Open Sans', sans-serif;
}
.footer{
	position:fixed;
	bottom:0;

}
.copyright{
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

